<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cailla - Moda Fitness</title>
  <link rel="stylesheet" href="../static/css/style.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Incluir o menu aqui -->
  {% include 'menu.html' %}

  <!-- Conteúdo Principal -->
  <div class="container-sobre">
    <div class="textsection">
      <div>
        <h1>Sobre a Cailla</h1>
        <p>
          A Cailla nasceu da união entre duas irmãs inseparáveis, movidas por uma paixão em comum: o esporte e o estilo. Desde pequenas, crescemos cercadas pelo universo da atividade física — filhas de profissionais de educação física, aprendemos desde cedo o valor do movimento, da disciplina e do bem-estar.
<br><br>
A marca sempre foi um sonho nosso. Priscilla, modelo internacional com vivência no universo da moda, e Caroline, atuante no mercado e na tecnologia, decidiram unir seus caminhos e dar vida à Cailla — nome que carrega nossas origens, formado pela junção de Caroline e Priscilla. Um projeto construído com amor, propósito e identidade.
<br><br>
Criamos roupas de ginástica que valorizam o conforto, a força feminina e a autoestima. Cada peça foi pensada para acompanhar mulheres reais, no dia a dia, dentro e fora da academia. Acreditamos no poder da conexão, da liberdade e da beleza de ser quem você é.
<br><br>
Hoje realizamos o sonho de entregar a vocês algo que realmente consumimos e usamos com orgulho. A Cailla é feita por nós, para vocês — um reflexo das nossas raízes, da nossa família e de tudo o que acreditamos. Queremos vestir com atitude, inspirar movimento e transformar a rotina em uma expressão de amor-próprio.
<br><br>

      </div>
    </div>
    <div class="imagesection">
      <img src="../static/assets/irmas.JPG" alt="Sobre" class="img-sobre">
    </div>
  </div>
{% include 'rodape.html' %}
</body>
</html>
